@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    /* .hero-bg-image {
        height: 100%;
        width: 100%;
        background-image: url(resources/hero_bg_image.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;

    } */
    .gradientText {

        /** TEXT GRADIENT */

        /** TEXT GRADIENT */
        background: -webkit-linear-gradient(33deg, #374151 28%, #e33300 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;



    }

    @media (max-width:1440px) {


        .hero-bg-image {
            height: 100vh;
            width: 100%;
            background-image: url(resources/hero_bg_image.jpg);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;

        }
    }

    @media (max-width:1000px) {


        .hero-bg-image {
            height: 100vh;
            width: 100%;
            background-image: url(resources/hero_bg_image.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }
    }

    @media (max-width:960px) {


        .hero-bg-image {
            height: 100vh;
            width: 100%;
            background-image: url(resources/hero_bg_image.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }
    }

    @media (max-width:576px) {


        .hero-bg-image {
            height: 100vh;
            width: 100%;
            background-image: url(resources/hero_bg_image.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

    }


}